
<div>
    <span>
        Employee Id : @Model.Id
    </span>
</div>
<div>
    <span>
        Employee Name : @Model.Name
    </span>
</div>
<div>
    <span>
        Salary : @Model.Salary
    </span>
</div>
<div>
    <span>
        Is Permanent : @Model.IsPermanent
    </span>
</div>